.idea
cm_ext
LIVY-0.5.0
LIVY-0.5.0_build
livy_csd_build
ZEPPELIN-0.8.0
ZEPPELIN-0.8.0_build
zeppelin_csd_build
LIVY-0.5.0.jar
livy-0.5.0-incubating-bin.zip
ZEPPELIN-0.8.0.jar
zeppelin-0.8.0-bin-all.tgz